* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* border: solid 1px black; */
}

.header {
  height: 96px;
  position: fixed;
  width: 100%;
  background-color: #efefef;
  box-shadow: 0px 1px 10px 0px rgba(83, 83, 83, 0.68);
}
.header__inner {
  width: 100%;
  margin: auto 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
  height: 100%;
  z-index: 5;
  
}
.sidemenu {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 70px;
  height: 100%;
  background-color: #3F4656;
  transition: all 0.3s ease-in-out 0s;
  overflow:hidden;
}

/* active class on menu */
.sidemenu.active {
  width: 200px;

}


#burger {
  width: 30px;
  height: 27px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

#burger div {
  height: 3px;
  z-index: 999;
  border-radius: 20px;
  width: 100%;
  background-color: white;
  transition: 0.2s ease-in-out;

}

.burgerProxy {
  cursor: pointer;

  position: absolute;
  top: 0;
  left: 0;
  width: 70px;
  height: 96px;
  z-index: 500;
}
.sidemenu ul {
  margin: 96px 0 0 0px;

}.sidemenu ul li {
  list-style-type: none;
  margin: 40px 15px 40px 15px;
  display: flex;
  flex-direction: row;
}

.linkWrap {
width: 100%;
  vertical-align: middle;

}

.linkWrap:hover {
  border-left: solid 4px aqua;
}
.sidemenu ul li a {
  font-family: "Montserrat", serif;
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  white-space: nowrap;
  margin-bottom: auto;
}


/* scales the 2nd burger bar */
#burger div:nth-child(2) {
  width: 80%;
}
/* scales the 3nd burger bar */
#burger div:nth-child(3) {
  width: 60%;
}

#burger:hover div {
  width: 100%;
}

.nav__icon {
  vertical-align: middle;
  margin: auto;

}

.nav__text {
  vertical-align: middle;
margin-left: 20px;
}

/* active class on burger
The active state of the burger triggers style changes in the burgers bars

*/
#burger.active div:nth-child(1) {
  transform: translateY(11px) rotate(45deg);
  background-color: #fff;
  width: 100%;
}
#burger.active div:nth-child(2) {
  opacity: 0;
  background-color: #fff;
}
#burger.active div:nth-child(3) {
  transform: translateY(-12px) rotate(-45deg);
  background-color: #fff;
  width: 100%;
}


main {
  width: 100vw;
  height: 100vh;
  background: #fff;
}


/* Navbar links */
.nav-links {
  font-family: "Montserrat", sans-serif;
  display: flex;
  letter-spacing: 1px;
  font-size: 14px;
  margin-right: 50px;
  margin-left: auto;

  list-style: none;
 
  width: 35%;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  background-color: transparent;
  padding: 1vh 1vw;
  font-weight: 500;
}

.nav-links li a {
  text-decoration: none;
color: black
;  background-color: transparent;
  transition: all 0.3s ease;
}

svg {
  stroke-width: 2;
}

.logo {
  margin-left: 50px;
}